

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

p{
    color: #434455;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
}

.section-portfolio,
.section-team,
.section-strategy {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* ============= HEADER =========== */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header a {
    padding: 24px 0;
}

.header .container {
    display: flex;
    padding: 0 15px;
}

.header__menu {
    align-items: center;
    display: flex;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-link span {
    color: #2e2f42;
}

.header__menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__menu-item {
}

.header__menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header__menu-link:hover {
    color: #404bbf; 
}
.header__menu-link:focus {
    color: #404bbf;
}

.address {
    margin: 24px 0;
    font-style: normal;
    margin-left: auto;
}

.address__list {
    display: flex;
    gap: 40px;
}

.address__item-mail {
}

.address__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address__link:hover,
.address__link:focus {
    color: #404bbf;
}

.address__item-tel {
}

/* ======== HEADER END ======== */

/*========= MAIN ============ */
.main {
    
}

/* =========== Container big */

.section-container-big {
    padding: 188px 0;
    background-color: #2e2f42;
    text-align: center;
}

.containerbig-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
}

.container-big-button {
    border: none;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    display: block;
    margin-top: 48px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
}

.container-big-button:hover,
.container-big-button:focus {
    background-color: #404BBF;
}

/* =========== Container big END */
/* =========== Strategy */

.strategy__title {
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.strategy__list {
    margin-bottom: 88px;
    display: flex;
    gap: 24px;
}

.strategy__item {
    max-width: calc((100% - 72px) / 4);
}

.strategy__subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.strategy__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============= Strategy END */
/* ============= Team */

.section-team {
    background-color: #F4F4FD;
}

.section-team .container {
    padding: 32px 16px;
}

.team__list {
    display: flex;
    gap: 24px;
}

.team__item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    max-width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team__img {
}

.team-profile {
    padding: 32px 0;
}

.team__subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ============= Team END */
/* =========== Portfolio */

.container {
    padding: 32px 16px;
}

.section-portfolio .container {
    max-width: 1160px;
}

.portfolio__title,
.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio__list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio__item {
}

.portfolio__img {

}

.portfolio__item-info {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio__subtitle {
    margin-bottom: 8px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}

/* =========== Portfolio END */
/*========= MAIN END ============ */


/* =========== Footer =========== */
/* ===========Footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
}

.footer__link{
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer__link span {
    color: #f4f4fd;
}

.footer__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
/* ===========Footer END============ */
